div{
    background-color: rgba(0, 0, 0, 0.856);
    width:350px;
    font-family: Arial;
    padding:10px ;
  
}
.p1{
    color: white;
    font-size:25px;
    font-weight: bolder;
    margin-bottom: 20px;
    margin-top: 10px;
} 
.p2{
    color: rgba(128, 128, 128, 0.555);
    
}
p{
    margin-top: 0;
    margin-bottom: 0;
}
