input{
    border-radius: 5px;
    width: 200px;
    height: 25px;
    border:1px rgba(128, 128, 128, 0.404) solid;
    margin-left: 3px;
    padding-left: 5px;
    color:rgba(128, 128, 128, 0.404) ;
}